<!doctype html>
<html lang="ru">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}" />
</head>

    <body>
  <div class="page-wrapper">


  <header>
    <nav>
      <ul class="nav-menu">
           <li> <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'home' %}">Кабинет заказчика   </a></li>
        <li> <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'about' %}">   Кабинет исполнителя </a></li>
          <li> <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'admin' %}">   Кабинет администратора </a></li>
        <li> <a class="me-4 py-3 text-dark text-decoration-none" href="{% url 'create' %}">   Создать анкету </a></li>
      </ul>
    </nav>
    <div class="form-wrapper">
      <b>Пoиск анкеты</b>
        <form action="{% url 'search' %}" method="get">
            <input name="q" type="text" placeholder="Поиск...">
        </form>
      </div>
  </header>
<main>
    <ul class="contractor-list">
      <li>
          <div class="img-container">
          {% load static %}
          <img src="{% static 'top.png' %}" alt="image">
          </div>
          <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
     {% block content %}{% endblock %}
        </div>
      </li>
    </ul>
</main>
</div>
  </body>
</html>







