{% extends 'base.html' %}

{% block title %}
Создать анкету
{% endblock %}
<body>
  <div class="page-wrapper">
<main>
{% block content %}
 <h1> Создать анкету</h1>
    <form method="post">
        {% csrf_token %}
        <div>
       <div> {{ form.name }}</div>
        </div>
        <div>
        <li>{{ form.experience }}</li>
        <li>{{ form.phone }}</li>
        <li>{{ form.address }}</li>
         </div>
         <br><button type="submit" class="btn btn-success">Добавить</button>

        <span>{{ error }}</span>
    </form>
</main>
</div>
  </body>

 {% endblock %}